body {
    margin: 2em auto;
    max-width: 900px;
    /* background-color: #3a6d8c; */
    vertical-align: middle;
    padding-top: 100px;
    background-color: #3a6d8c;
}

.calculator-container {
    grid-template-columns: 4;
    width: 400px;
    height: 500px;
    margin: auto;
    vertical-align: middle;
}

.screen-container {
    font-family: 'minecraft';
    width: 95%;
    height: 100px;
    background-color: #001f3f;
    border-radius: 20px;
    text-align: center;
}

#screen {
    font-size: xx-large;
    color: white;
    float: right;
    padding-top: 30px;
}

.button-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: 6;
    gap: 5px;
    width: 90%;
    height: 350px;
    background-color: #001f3f;
    border-radius: 20px;
    margin-top: 20px;
    padding: 10px;
}

button {
    font-family: 'minecraft';
    border-radius: 30px;
    border-color: black;
    border-width: 4px;
}

button:hover {
    cursor: pointer;
    background-color: #b17457;
}

.number-button, .operator-button {
    background-color: #ead8b1;
}

.function-button {
    background-color: #6a9ab0;
}

#seven {
    grid-column: 1/2;
    grid-row: 1/2;
}

#eight {
    grid-column: 2/3;
    grid-row: 1/2;
}

#nine {
    grid-column: 3/4;
    grid-row: 1/2;
}

#four {
    grid-column: 1/2;
    grid-row: 2/3;
}

#five {
    grid-column: 2/3;
    grid-row: 2/3;
}

#six {
    grid-column: 3/4;
    grid-row: 2/3;
}

#plus {
    grid-column: 4/5;
    grid-row: 1/2;
}

#one {
    grid-column: 1/2;
    grid-row: 3/4;
}

#two {
    grid-column: 2/3;
    grid-row: 3/4;
}

#three {
    grid-column: 3/4;
    grid-row: 3/4;
}

#minus {
    grid-column: 4/5;
    grid-row: 2/3;
}

#dot {
    grid-column: 1/2;
    grid-row: 4/5;
}

#zero {
    grid-column: 2/3;
    grid-row: 4/5;
}

#divide {
    grid-column: 4/5;
    grid-row: 4/5;
}

#multiply {
    grid-column: 4/5;
    grid-row: 3/4;
}

#equal {
    grid-column: 4/5;
    grid-row: 5/6;
    background-color: #c62e2e;
}

@font-face {
    font-family: 'minecraft';
    src: url("minecraft_font.ttf");
}